nav a { text-decoration: none; padding: 10px; color: white; }
        nav a:hover { background-color: #d57a7a; border-radius: 5px; }
        header, footer { color: white; background-color: #ee7a7a; text-align: center; width: 100%; position: fixed; left: 0; }
        header { top: 0; padding: 10px 0; }
        footer { bottom: 0; padding: 10px 0; }
        nav ul { list-style-type: none; padding: 0; margin: 0; }
        nav ul li { display: inline; margin-right: 10px; }
        main { padding-top: 120px; text-align: center; }
        h1, h2 { color: #ee7a7a; }
        footer p { margin: 0; }
         .gallery {
            /* display: flex; */
            /* flex-wrap: wrap; */
            justify-content: center;
            gap: 20px;
            padding: 20px;
        }
        .gallery img {
            /* width: 300px; */
               float: left;
               clear: right;
            /* clear: left; */
            height: auto;
            /* border-radius: 10px; */
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }
            
        ul {
            text-align: left;
            margin: 0 auto;
            display: inline-block;
            padding: 10px;
        }
        